@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

@layer base {
    body {
        @apply font-sans bg-fixed;
        @apply bg-fixed;
    }
}

@theme{
    --color-grey-color: rgba(60, 69, 67, 0.6);
    --color-base-color: #eedb00;
    --font-poller: serif;
    --color-e-color: rgb(109, 40, 217);
    --shadow-hero: 10px 10px rgba(60, 69, 67, 0.6);
}
